<div class="categories-shop">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="shop-cat-box">
                    <img class="img-fluid" src="" alt="" />
                    <a class="btn hvr-hover" href="#">Sữa bột</a>
                </div>
                <div class="shop-cat-box">
                    <img class="img-fluid" src="images/shirt-img.jpg" alt="" />
                    <a class="btn hvr-hover" href="#">Thức ăn dinh dưỡng</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="shop-cat-box">
                    <img class="img-fluid" src="images/wallet-img.jpg" alt="" />
                    <a class="btn hvr-hover" href="#">Bỉm tã</a>
                </div>
                <div class="shop-cat-box">
                    <img class="img-fluid" src="images/women-bag-img.jpg" alt="" />
                    <a class="btn hvr-hover" href="#">Thời trang</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="shop-cat-box">
                    <img class="img-fluid" src="images/shoes-img.jpg" alt="" />
                    <a class="btn hvr-hover" href="#">Học tập</a>
                </div>
                <div class="shop-cat-box">
                    <img class="img-fluid" src="images/women-shoes-img.jpg" alt="" />
                    <a class="btn hvr-hover" href="#">Vitamin Sức khỏe</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="shop-cat-box">
                    <img class="img-fluid" src="images/shoes-img.jpg" alt="" />
                    <a class="btn hvr-hover" href="#">Đồ chơi</a>
                </div>
                <div class="shop-cat-box">
                    <img class="img-fluid" src="images/women-shoes-img.jpg" alt="" />
                    <a class="btn hvr-hover" href="#">Sữa bột cao cấp</a>
                </div>
            </div>            
        </div>
    </div>
</div>